  @(user: models.users.User)
@main("Home",user) {
	
    <body>
		<div class="info">
			<h1>
				Contact us
			</h1>
			<div class="col-sm-4">
				Our info
		
						<p>Our email: solesemail.com</p>
						<p>Our Phone: 01465465465</p>
						<p>Facebook: Soles</p>
						<p>HQ: Address street number</p>
						
		</div>
		
				<div class="col-sm-8">
						<img src="@routes.Assets.at("/public/images", "phone.png")" />
				</div>
	</div>
	

			
	
			<div class="row">
			<div class="col-sm-12">
				<div class="well footer">
				Year 2 Project 
				</div>
			</div>
			</div>
		</div>
    </body>
   }


