@(title: String, user: models.users.User )(content: Html)
  
@main("Home",user) {
	<title>Soles</title>
    </head>
    <body>
		

	<div class="container-fluid">
	    <div class="row">
		<div class="col-sm-3">
		    <div class="well sidecol">
			<h2>News</h2>
			<h3>Student Sales</h3>
			
				
			</div>
		</div>
		<div class="col-sm-6">
		    <div class="midcol">
			<h1>SOLES</h1>
			
			</div>
			
		</div>
		<div class="col-sm-3">
		    <div class="well sidecol">
			<h2>Events</h2>
			<h3>Clearance Sale</h3>
			<p>Last Seasons shoes <span class="redtext">50%</span>Act now and get a 3rd pair for half price</p>
		    </div>
		</div>
		</div>
		<div class= "row">
			<div class = "col-sm-12">
				<div class="pop">
			<h2>Most Wanted Shoes-Buy Now!</h2>
			
		</div>


			</div>
		</div>

	    <div class="row">
		<div class="col-sm-12">
		    <div class="well footer">
			Year 2 Project 
		    </div>
		</div>
	    </div>
	</div>
    </body>
   }


